*{
    margin: 0;
    padding: 0;
    font-size: 16px;

}
body{
    display: flex;
    overflow: hidden;
}
html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    background-color: #C3EDC0;
 }

.content{
    display: flex;
    flex-direction: column;

}

.media{
    display: flex;
    justify-content: space-around;
    padding-left: 75px;
}

#todays-games{
    padding-left: 75px;
    padding-bottom: 20px;

}

.news{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

input{
    margin: 5px;
}

img{
    height: 40px;
    width: auto;
}

.left-slider{
    background-color: #AAC8A7;
    display: grid;
    padding-left: 10px;
    grid-template:75px 75px 75px 75px 75px 75px 150px 75px 75px 75px /75px;
    height: 100vh;
    width: 200px;
    padding-top: 15px;
}

.search-bar{
    display: grid;
    padding: 10px;
    grid-template-columns: 1500px 20px;
    background-color: #FFFEC4;
    min-width: 100vh;
}

#bar{
    padding-left: 50px;
    display: flex;
    gap: 20px;
}

.profile{
    display: grid;
    background-color:#FFFEC4;
    grid-template-columns: 50px 1250px 100px 100px 100px;
    margin-bottom: 50px;
    gap: 10px;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 10px;
}

.game-posts{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    gap: 20px;
}

.anounce{
    display: grid;
    gap: 10px;
    padding-bottom: 50px;
    padding-top: 15px;
    padding-right: 50px;
}

.anounce>div{
    border-bottom: 1px solid grey;
}

.game-studio{
    display: grid;
    gap: 20px;
    padding-top: 20px;
}

.text{
    padding-top: 10px;
    padding-left: 10px;
}

.game-posts>div{
    max-width: 400px;
    background-color: #FFFEC4;
}

.trend{
    display: flex;
    gap: 10px;
    align-items: center;
}

.trend>img , .cow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5%;
}

.icons{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 10px;
    margin-right: 10px;
    gap: 10px;
}

.icons>img{
    width: 30px;
    height: 30px;
}

.icons>img:hover{
    cursor: pointer;

}

.title{
    display: flex;
    justify-content: space-between;
    margin-right: 395px;
}

.logo{
    display: flex;
}

#not{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

button{
    background-color: #AAC8A7;
}

.logo:hover{
    cursor: pointer;
}